.page{
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    width: auto;
    max-width: 1000px;
    min-height: 600px;

    
}

.image{
    margin-top: 20px;    
    margin-left: 20px;
}

div{
    display: block;

}

.header{
    display: block;
    box-sizing: content-box;
    position: relative;
    min-height: 50px;
    background:#396592;
    color:white;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
}

.header > .title{
    line-height: 50px;
    margin-top: 20px;
    display: inline;
    font-size: 20px;
}



.widget-box{
    display: table;
}


.buttons{
    margin-left: 10px;
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    float: right;
    position: relative;
}


.editButton{
    margin-right: 8px;
    margin-top: 12px;
    background-color: white;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.deleteButton{
    background-color: white;
    margin-top: 12px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

}

.editButton:hover{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.deleteButton:hover{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.table,.table th, .table td{
    margin: 20px;
    border: 1px solid rgb(191, 221, 245); 
    border-collapse: collapse;    
}


.Butir{
    background-color: cornflowerblue;
}

.cell{
    border-color: black;
}

.Flexbox{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 30px;
}



.content{
    padding: 20px;
}






